<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Copyright &copy;
                        <a href="http://www.Themefisher.com">Themefisher</a>| All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lwtCountdown-1.0.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>

</body>

</html>