{{ if .Site.Params.service.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <section id="{{ i18n "service" | urlize }}" class="service section">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    {{ with .Site.Params.service.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.service.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                {{ range .Site.Params.service.serviceRow }}
                <div class="container">


                <div class="services-banner" style="background: {{ .color }};">

                {{ range .seviceItem }}
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <div>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
